/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.mw-20 {
    max-width: 20%;
}

.celeste, .celeste a {
    display: inline-block;
    color:  #3865E5;
    text-decoration: none;    
    font-size: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.celeste a:hover {
    transform: scale(1.1);
}